# Ignore node_modules folder
node_modules
.next

#Ignore files containing sensitive information
config.env

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

# JS bundle
./public/js/dist
